[Unit]
Description=Disability Support System
After=network.target sound.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/rsbp-demo
Environment="PATH=/home/pi/rsbp-demo/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="API_KEY=http://203.162.88.105/pvlm-api"
ExecStart=/home/pi/rsbp-demo/venv/bin/python3 /home/pi/rsbp-demo/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
