[Unit]
Description=Disability Support System
After=network.target sound.target

[Service]
Type=simple
User=thuongvv
Group=thuongvv
WorkingDirectory=/home/thuongvv/rsbp-demo
Environment="PATH=/home/thuongvv/rsbp-demo/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/thuongvv/rsbp-demo/venv/bin/python3 /home/thuongvv/rsbp-demo/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
